@font-face {
  font-family: Shabnam;
  src: url("/fonts/vendor/shabnam-dist/Shabnam.eot");
  src: url("/fonts/vendor/shabnam-dist/Shabnam.eot?#iefix") format("embedded-opentype"), url("/fonts/vendor/shabnam-dist/Shabnam.woff2") format("woff2"), url("/fonts/vendor/shabnam-dist/Shabnam.woff") format("woff"), url("/fonts/vendor/shabnam-dist/Shabnam.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Bold.eot");
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/vendor/shabnam-dist/Shabnam-Bold.woff2") format("woff2"), url("/fonts/vendor/shabnam-dist/Shabnam-Bold.woff") format("woff"), url("/fonts/vendor/shabnam-dist/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Thin.eot");
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/vendor/shabnam-dist/Shabnam-Thin.woff2") format("woff2"), url("/fonts/vendor/shabnam-dist/Shabnam-Thin.woff") format("woff"), url("/fonts/vendor/shabnam-dist/Shabnam-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Light.eot");
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/vendor/shabnam-dist/Shabnam-Light.woff2") format("woff2"), url("/fonts/vendor/shabnam-dist/Shabnam-Light.woff") format("woff"), url("/fonts/vendor/shabnam-dist/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Medium.eot");
  src: url("/fonts/vendor/shabnam-dist/Shabnam-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/vendor/shabnam-dist/Shabnam-Medium.woff2") format("woff2"), url("/fonts/vendor/shabnam-dist/Shabnam-Medium.woff") format("woff"), url("/fonts/vendor/shabnam-dist/Shabnam-Medium.ttf") format("truetype");
  font-weight: 500;
}

body {
  font-family: "Shabnam";
}

